.StudentName {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0%;
  margin: 0%;
}
.age-class {
  color: blue;
}
.student-box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.grade-class {
  color: green;
  text-decoration: underline;
}
.hostel-class {
  color: red;
  font-style: italic;
  text-decoration: solid;
  text-transform: capitalize;
font-weight: 600;
letter-spacing: 0.01vw;
}
